h1 {
    display: inline;
    margin-right: 300px;
    height: 300px;
    color: rgb(106, 128, 255);
    background-color: pink;
}
h1:hover {
    background-color: indigo;
    color: white;
}
.intro_paragraph_1 {
    color: goldenrod;
}
.intro_paragraph_2 {
    color: gray;
}
#div_box {
    width: 200px;
    height: 200px;
    background-color: pink;

    border-bottom: 1px solid black;
    /* border-radius는 테두리를 둥글게 만드는 속성 */
    border-radius: 60px;
    background-image: url(./Universe.jpg);
    background-size: cover;
    width: 100%;
}

p{
    font-size: 30px;
    color: red;
    text-align: center;
    width: 300px;
    /* text-decoration: underline; */
    /* text-transform: uppercase; */
    /* text-transform은 대문자를 소문자로 소문자를 대문자로 바꿀때 사용 */
    line-height: 3;
    /* 줄 높이 */
    letter-spacing: -1px;
    /* 글자 간격 */
    -webkit-text-stroke: 1px #000;
    /* -webkit-text-stroke는 여러 브라우저에서 사용할수있게 한다 */
    /* 빨간색에 검정색 외각선이 들어가서 색이 */
}
.box {
    width: 100px;
    height: 100px;
    background-color: pink;
    margin-top: 100px;
    margin-left: 50px;

    transform:skewY(45deg);
}
.Write {
    color: black;
    text-align: center;
}
.Write:hover {
    color: red;
    font-size: 32px;
    -webkit-text-stroke: 1px black;
    
    /* transition-property는 hover효과의 반전을 줄때 사용한다. */
    /* transition-property: color font-size; */
    /* transition-duration: 1s; */

    /* transition hover의 효과를 줄때 color, font-size */
    transition: 0.3s;
    transition-delay: 0.1s;
}

span.top{
    background-color: yellow;
    position: relative;
    top: 40px; left: 40px;
    /* 자기자신의 위치에서 top: 40 left: 40만큼 밀어낸 위치로 이동 */
}
span.right{
    background-color: yellow;
    position: absolute;
}
span.bottom {
    background-color: yellow;
}
span.left{
    background-color: yellow;
}

/* static은 원래의 자기자리에 있는것 */
/* static 정적인것 아무것도 일어나지 않는다.*/
/* position: relative - 본인의 위치를 기준으로 top: 40px left: 40px
    위쪽에서 40만큼 밀고 왼쪽에서 40px만큼 밀어서 위치를 지정한다. */
/* position: absolute - 지금의 전체화면에서 top: 40px left: 40px 만큼
    위치를 이동시키는것 전체화면에서 top: 40px만큼 left: 40px만큼 이동한다.*/
/* position: -webkit-sticky;
    position: sticky;
    top: 20px
    현재의 위치에서 스크롤을 내리면 top: 20px에 고정되서 스크롤 내릴때
    따라 움직이게 된다. */


/* 레이아웃 Flexbox, Grid */

/* Flexbox */
/* 1차원 정렬: Row / Colume */
/* flex: 가로로 정렬, 세로로 정렬 */


/* Grid */
/* 병렬로 정렬 */

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    background-color: skyblue;
}
.item {
    width: 200px;
    height: 50px;
    background-color: pink;
    border: 1px solid black;
    /* border: 경계선 */
    /* flex-direction: row; ,,, 가로로 1, 2, 3 정렬*/
    /* flex-direction: row-reverse; 가로로 3, 2, 1 정렬*/
    /* flex-direction: column; 
        위에서부터
        1
        2
        3
        정렬되어있음*/
    /* flex-direction: column-reverse; 
        위에서 부터
        3
        2
        1
        정렬되어있음*/

        /* flex-wrap: nowrap; */
        /* 순서 1,2,3,4,5,6 */
        
        /* flex-wrap: wrap; */
        /* 순서
            1
            2
            3
            4
            5
            6 */

        /* flex-wrap: wrap-reverse; */
        /* 순서
            6
            5
            4
            3
            2
            1 */

}

/* order는 순서를 지정해줄때 사용한다. */
.item5{
    order: -3;
}
.item2{
    order: -2;
}